
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} Social Doctor {% endblock title %} </title>

    <!-- Bootstrap -->

    {% load static %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
{% block additional_static %}

{% endblock %}
</head>

<body>


<nav style="z-index: 1000" class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "home" %}"> Social Doctor</a>
        </div>

        <div class="navbar-right">
        {% if user.is_authenticated %}

                <p class="navbar-text"> Ви зайшли як {{ user }} </p>
                <a type="button" href="{% url "logout" %}" class="btn btn-default navbar-btn">Вийти</a>
            </div>
        {% else %}
                <p class="navbar-text">Ви неавторизовані</p>
                <a href="{% url "login" %}" type="button" class="btn btn-default navbar-btn">Авторизуватися</a>
                <a href="{% url "register" %}" type="button" class="btn btn-default navbar-btn">Register</a>
        {% endif %}
    </div>
</nav>


    {% block navbar %} {% endblock %}
<div class="container">
    {% block content %}

        <div class="jumbotron">
          <h1>Hello, user!</h1>
          <p>
              <a href="{% url "login" %}" type="button" class="btn btn-default">Авторизуватися</a>
                <a href="{% url "register" %}" type="button" class="btn btn-default ">Register</a>


          </p>
        </div>

     {% endblock %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% block additional_scripts %}

{% endblock %}

</body>
</html>
