{% extends "base.html" %}

{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
            {{ person.user.first_name }} {{ person.user.last_name }}
            
            {% ifnotequal user.userprofile person %}
                {% if person in user.userprofile.following.all  %}
                    <a href="{% url "unfollow" person.user.id %}" class="btn btn-info btn-sm">Відписатися</a>
                {% else %}
                    <a href="{% url "follow" person.user.id %}" class="btn btn-success btn-sm">Підписатися</a>
                {% endif %}
            {% endifnotequal %}

            {% if person.is_doctor" %}
                <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">Лікар</span>
            {% else %}
                <span class="glyphicon glyphicon-user pull-right" aria-hidden="true">Паціент</span>
            {% endif %}
        </h3>
      </div>
      <div class="panel-body">


          <dl class="dl-horizontal">
              <dt>Псевдонім: </dt>
              <dd>{{ person.user.username }}</dd>
            </dl>
      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Підписники</h3>
      </div>
      <div class="panel-body">
        {% for following in person.userprofile_set.all %}
            <a href="{% url "person" following.id %}">{{ following }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">На кого підписаний</h3>
      </div>
      <div class="panel-body">

        {% for follower in person.following.all %}
            <a href="{% url "person" follower.id %}">{{ follower }}</a>
        {% endfor %}

      </div>
    </div>


    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Відгуки</div>

  <!-- List group -->
        <ul class="list-group">
        {% if person.is_doctor %}

                {% for feedback in feedbacks %}
                    <li class="list-group-item">
                        <span class="badge">{{ feedback.rating }}</span>
                        <p>Від:
                            <a href="{% url "person" feedback.author_id %}"> {{ feedback.author }} </a>
                        </p>
                        <p>{{ feedback.text }}</p>

                    </li>
                {% empty %}
                    <li class="list-group-item list-group">
                        <p>Відгуків ще немає</p>
                    </li>
                {% endfor %}
            {% else %}


                {% for feedback in feedbacks %}
                    <li class="list-group-item">
                        <span class="badge">{{ feedback.rating }}</span>
                        <p>
                            До:
                            <a href="{% url "person" feedback.estimated_id %}"> {{ feedback.estimated }} </a>
                        </p>
                        <p>{{ feedback.text }}</p>

                    </li>
                {% empty %}
                    <li class="list-group-item list-group">
                        <p>Відгуків ще немає</p>
                    </li>
                {% endfor %}


        {% endif %}
        </ul>
</div>

    {% if user.is_authenticated and person.is_doctor %}

        <form action="{% url "send_feedback" person.id %}" method="POST" class="form-inline">
        {% csrf_token %}
      <div class="form-group">
        <label for="feedback_text">Відгук</label>
        <textarea name="text"  class="form-control" rows="1" id="feedback_text" placeholder="Введіть відгук"></textarea>
      </div>
      <div class="form-group">
        <label for="feedback_rating">Оцінка</label>
        <input min="1" max="5" name="rating" type="number" class="form-control" id="feeback_rating" placeholder="Введіть оцінку">
      </div>
      <button type="submit" class="btn btn-default">Відправити відгук</button>

        </form>

    {% endif %}
{% endblock %}
