{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
{% for person in persons %}

  <li class="list-group-item">
    {% if person.userprofile.is_doctor %}
        <span class="glyphicon glyphicon-plus" aria-hidden="true">
    {% else %}
        <span class="glyphicon glyphicon-user" aria-hidden="true">
    {% endif %}
      <a href="{% url "person" person.id %}" >
          {{ person.first_name }} {{ person.last_name }}
            {% if person.userprofile.is_doctor %}
             <em>{{ person.userprofile.get_doctor_type_display }}</em>
                {% if user.userprofile in person.userprofile.userprofile_set.all %}
                  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                {% endif %}
          {% endif %}
      </a>
    </span>
  </li>
    {% empty %}
    <li>Вибачте, але ми нічого не знайшли</li>
{% endfor %}
</ul>

{% endblock %}