{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
{% for person in persons %}

  <li class="list-group-item">
    {% if person.userprofile.is_doctor %}
        <span class="glyphicon glyphicon-plus" aria-hidden="true">
    {% else %}
        <span class="glyphicon glyphicon-user" aria-hidden="true">
    {% endif %}
      <a href="{% url "person" person.id %}" >
          {{ person.first_name }} {{ person.last_name }}
            {% if person.userprofile.is_doctor %}
             <em>{{ person.doctor_type }}</em>
          {% endif %}
      </a>
    </span>
  </li>
    {% empty %}
    <li>Вибачте, але ми нічого не знайшли</li>
{% endfor %}
</ul>

{% endblock %}