{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
{% for person in persons %}

  <li class="list-group-item">
    {% if person.userprofile.user_type == "doctor" %}
        <span class="glyphicon glyphicon-plus" aria-hidden="true">
    {% elif person.userprofile.user_type == "patient" %}
        <span class="glyphicon glyphicon-user" aria-hidden="true">
    {% endif %}
      <a href="{% url "person" person.id %}" >{{ person.first_name }} {{ person.last_name }}</a>
    </span>
  </li>
{% endfor %}
</ul>

{% endblock %}